table.game-table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
  background-color: #2F4F4F;
  border-radius: 5px;
  border: 1.5px solid #2F4F4F;
}


.buttons {
  margin-left: auto;
  margin-right: auto;
}

button.clear-record {
  font-weight: bold;
  background-color: red;
  color: white;
  border-color: red;
  width: 90px;
  height: 30px;
  margin: 2px;
}

button.reset {
  font-weight: bold;
  background-color: #1E90FF;
  color: white;
  border-color: #1E90FF;
  width: 90px;
  height: 30px;
  margin: 5px;
}

button.select-level {
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
  border-color: #4CAF50;
  width: 90px;
  height: 30px;
  margin: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}

.status {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: darkgreen;
  list-style: square;
}

tr {
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  color: #008CBA;
  background-color: #F5F5F5;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
  float: top-right;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}